body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 56px;
}
.fcolor {
    color: orange;
}
section {
    display: flex;
    
    
    
}
.imgsize {
    width:600px;
    margin-left: 50px;
}
.div01 {
    margin-left: 80px;   
}
.pfontcolor {
    color: gray;
}
.atagclass {
    background-image: linear-gradient(salmon, tomato);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    
    
}
.imgsize2 {
    width: 420px;
    margin-left: 60px;
}
.div02 {
    
    padding-right: 10px;
    padding-left: 10%;
    padding-top: 8%;
}
.section2 {
    display: flex;
    width: 100%;
    background-image: url(7.png);
    background-repeat: no-repeat;
}
.fontcolorass {
    color:gray;
}
.h1formiddle {
    text-align: center;
    color: gray;
}
.section3 {
    display: flex;
}
 .photoad {
    width: 80%;
    margin-left: 10%
 }
 .h3class {
     margin-left: 10%;
     margin-right: 9%;
     font-weight: 500;
     color: black;
 }
 .div4 {
     border: 15px solid white;
     box-shadow: 10px 10px 20px grey ;
     
    
     margin-left: 60px;
     margin-right: 50px;
     border-radius: 50px;
     
 }
 
     
.sec05 {
    display: flex;
    
}
.h1clss {
    margin-left: 250px;
}
.div6 {
    display: flex;
    box-shadow: 10px 10px 20px grey;
    margin-left: 10px;
}
.div7 {
    background-color: #17172c;
}
.align {
    text-align: center;
}
#color {
    color: white;
}